body {background-color: rgb(0, 183, 255);}

h1 {
  border: 5px solid black;
  color: rgb(190, 190, 235);
  background-color: rgb(21, 125, 159);
  font-family: arial;
  font-size: 30px;
}
p {
  border: 2px solid black;
  color: rgb(161, 221, 247);
  background-color: rgb(80, 66, 201);
  font-family: Arial;
  font-size: 30px;
}